
.search-result {
    position: relative;
}

.search-result .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
}

.search-result .icon.success-icon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/src/inject/images/success.png');
}

.search-result .icon.cancel-icon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/src/inject/images/cancel.png');
}
