body {
    margin: 0;
    padding: 0;
}

main {
    min-width: 320px;
    padding: 15px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #8c8b8b, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #8c8b8b, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #8c8b8b, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #8c8b8b, #8c8b8b, #f0f0f0);
}

#no-info {
    text-align: center;
    padding: 15px;
    width: 200px;
}

.hidden {
    display: none;
}
